@value makerBlue from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  height: 2em;
  color: makerWhite;
  background-color: makerBlue;
}