@value makerBlue from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerPink from '../../common/colors.css';

li {
  list-style: none;
}

.login {
  text-align: center;
  width: 25rem;
  background-color: makerWhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginButtons {
  padding: 0;
}

.loginButton {
  margin-top: 0.8em;
  border-radius: 0.8em;
  border: 0.2em solid makerBlue;
}

.button {
  width: 100%;
  height: 2.5em;
font-size: 1.2em;
  background-color: white;
  border: none;
  cursor: pointer;
  outline: 0;
  border-radius: 0.8em;
}

.button:hover {
  background-color: makerPink;
}



.loginButton:hover {
  background-color: makerPink;
}